**Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.**

In [15]:
val=[]
for value in range(2000,3200):
  if(value % 7 == 0 and value % 5 == 1) :
    val.append(value)
print(val)

[2016, 2051, 2086, 2121, 2156, 2191, 2226, 2261, 2296, 2331, 2366, 2401, 2436, 2471, 2506, 2541, 2576, 2611, 2646, 2681, 2716, 2751, 2786, 2821, 2856, 2891, 2926, 2961, 2996, 3031, 3066, 3101, 3136, 3171]

**Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.**

In [33]:
name = input("Please enter your first name and last name.")
name = name.split(' ')
print(name[1]+' '+name[0])

Please enter your first name and last name.Amit Agarwal
Agarwal Amit

**Write a Python program to find the volume of a sphere with diameter 12 cm.**

In [32]:
diameter = 12

PI = 3.14

radius = diameter/2

Volume = (4 / 3) * PI * radius**3

print('Volume of Sphere is : '+ str(Volume))

Volume of Sphere is : 904.3199999999999